/* DAMAGE */

#ashe
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt83273c22d0b94966/631a8ba0636d390da7825df1/1600_Ashe.jpg);
}

#bastion
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltcd0d5eb4b44d35f1/631a8b92e7bdcf0dd996c8e5/1600_Bastion.jpg);
}

#cassidy
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt4bb4c31f6849c25b/631a8b781613910e6926bfd4/2600_Cassidy.jpg);
}

#echo
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt6a6dc9da49d17b95/631a8b5feef3ae0e03c743ae/2600_Echo.jpg);
}


/* TANK */

#doomfist
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt3f24de1ac73c318b/631a8b6ba633280e74dc25c9/1600_Doomfist.jpg);
}

#d_va
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf8e9415141b0ec36/631a8b65e7bdcf0dd996c8e1/1600_Dva.jpg);
}   

#wrecking_ball
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt55cca804cba3d52e/631a8a691566e20e82f30278/1600_Wrecking_Ball.jpg);
}

#sigma
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt429c1784d8b446a4/631a8adbf581050de0035de6/1600_Sigma.jpg);
}

#winston
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf9557fb8c51d1c43/631a8aa4eef3ae0e03c74396/1600_Winston.jpg);
}

#zarya
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltde66354cc09d1bb6/631a8a60be2fcf0db5eea4b4/1600_Zarya.jpg);
}

#junker_queen
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt3a1be33596e910c4/631a8b49a0ff920e11e791bc/2600_Junker_Queen.jpg);
}

#roadhog
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt39930f17f179a7bd/631a8ae5eef3ae0e03c7439e/1600_Roadhog.jpg);
}

#reinhardt
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt8215ad99f856a606/631a8b03636d390da7825ddb/1600_Reinhardt.jpg);
}


/* SUPPORT */

#ana
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt97ec60cf959e81f3/631a8babe337fa0dc7263beb/1600_Ana.jpg);
}

#baptiste
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt7409943072f0d44c/631a8b99f581050de0035dfa/1600_Baptiste.jpg);
}

#brigitte
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf362dee5d41929be/631a8b7feef3ae0e03c743b6/1600_Brigitte.jpg);
}

#kiriko
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt74033e83230dc856/631a8b34f581050de0035df2/1600_Kiriko.jpg);
}

#lucio
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt77c5cddf632a67d7/631a8b2bf581050de0035dee/1600_Lucio.jpg);
}

#mercy
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blta556d4020266a6db/631a8b1eeef3ae0e03c743a2/1600_Mercy.jpg);
}

#moira
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt8188c6691a334d73/631a8b17be2fcf0db5eea4bc/1600_Moira.jpg);
}

#zenyatta
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt31b9997e4476de74/631a8a57eef3ae0e03c7438a/1600_Zenyatta.jpg);
}