.busan_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/8/80/OW2_Busan_Downtown_1.jpg?width=814);
}

.ilois_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/3/38/OW2_Ilios_Lighthouse_3.jpg?width=814);
}

.lijangtower_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/8/88/OW2_Lijiang_Tower_Garden.jpg?width=814);
}

.nepal_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/07/OW2_Nepal_Shrine_2.jpg?width=814);
}

.oasis_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/6/60/OW2_Oasis_City_Center_1.jpg?width=814);
}

.circuitroyal_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/2d/OW2_Circuit_Royal_3.jpg?width=814);
}

.dorado_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/1/12/OW2_Dorado_3.jpg?width=814);
}

.havana_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/04/OW2_Havana_1.jpg?width=814);
}

.junkertown_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/9/9a/OW2_Junkertown_1.jpg?width=814);
}

.rialto_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/27/OW2_Rialto_4.jpg?width=814);
}

.route66_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/f/f3/OW2_Route_66_2.jpg?width=814);
}

.watchpointgibraltar_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/c/c1/OW2_Watchpoint_Gibraltar_3.jpg?width=814);
}

.blizzardworld_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/a/a9/OW2_Blizzard_World_3.jpg?width=814);
}

.eichenwalde_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/4/4c/OW2_Eichenwalde_1.jpg?width=814);
}

.hollywood_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/f/fa/OW2_Hollywood_4.jpg?width=814);
}

.kingsrow_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/c/ca/OW2_Kings_Row_1.jpg?width=814);
}

.midtown_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/5/5f/OW2_Midtown_2.jpg?width=814);
}

.numbani_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/02/OW2_Numbani_3.jpg?width=814);
}

.paraiso_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/7/7f/OW2_Paraiso_4.jpg?width=814);
}

.colosseo_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/24/OW2_Colosseo.jpg?width=814);
}

.esperanca_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/7/7d/OW2_Esperanca_2.jpg?width=814);
}

.nqs_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/0c/OW2_New_Queen_Street_2.jpg?width=814);
}

.ayutthaya_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/3/36/OW2_Ayutthaya.jpg?width=814);
}

.castillo_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/27/OW2_Castillo_2.jpg?width=814);
}

.cg_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/d/d5/OW2_Chateau_Guillard_2.jpg?width=814);
}

.ecoa_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/20/OW2_Ecopoint_Antartica.jpg?width=814);
}

.kanezaka_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/2f/OW2_Kanezaka_2.jpg?width=814);
}

.malevento_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/1/1a/OW2_Malevento_2.jpg?width=814);
}

.necropolis_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/9/9b/OW2_Necropolis_3.jpg?width=814);
}

.petra_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/8/89/OW2_Petra_1.jpg?width=814);
}

.workshop_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/c/c5/OW2_Workshop_Island.jpg?width=814);
}

.hanamura_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/d/df/OW2_Hanamura_3.jpg?width=814);
}

.hlc_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/5/5c/OW2_Lunar_Colony_3.jpg?width=814);
}

.paris_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/d/db/OW2_Paris_1.jpg?width=814);
}

.toa_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/24/OW2_Anubis.jpg?width=814);
}

.volskayai_bg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/e/e6/OW2_Volskaya_3.jpg?width=814);
}