.busan_bg
{
    background-image: url();
}

.ilois_bg
{
    background-image: url();
}

.lijangtower_bg
{
    background-image: url();
}

.nepal_bg
{
    background-image: url();
}

.oasis_bg
{
    background-image: url();
}

.circuitroyal_bg
{
    background-image: url();
}

.dorado_bg
{
    background-image: url();
}

.havana_bg
{
    background-image: url();
}

.junkertown_bg
{
    background-image: url();
}

.rialto_bg
{
    background-image: url();
}

.route66_bg
{
    background-image: url();
}

.watchpointgibraltar_bg
{
    background-image: url();
}

.blizzardworld_bg
{
    background-image: url();
}

.eichenwalde_bg
{
    background-image: url();
}

.hollywood_bg
{
    background-image: url();
}

.kingsrow_bg
{
    background-image: url();
}

.midtown_bg
{
    background-image: url();
}

.numbani_bg
{

}

.