#PLAY div
{
    height: 1000px;
    width: 100%;
    margin-left: -10px;
}

#quick_play
{
    background-color: aqua;
}

#competitive
{
    background-color: brown;
}

#arcade
{
    background-color: #fff;
}

#game_browse
{
    background-color: black;
}

#experimental
{
    background-color: blueviolet;
}