#PLAY
{
    margin: 0;
}

#PLAY .mode
{
    height: 1000px;
    width: 100%;
    z-index: 0;
    position: relative;
    padding-top: 20px;
    margin-bottom: -55px;
}

#PLAY h1
{
    margin: 100px 0 -10px 10px;
}

#PLAY h2
{
    margin: 20px 0 -10px 15px;
}

#PLAY .mode li
{
    margin-top: 10px;
}

#PLAY p
{
    margin-left: 20px;
}

#PLAY table
{
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 1000px;
    margin: 50px auto;
}

#PLAY td
{
    width: 200px;
    border-bottom: 1px solid black;
    text-align: center;
}

#PLAY th
{
    width: 200px;
    border: 1px solid black;
}

#PLAY td img
{
    margin-top: 10px;
    width: 100px;
}

#unranked .bg-image
{
    z-index: -1;
    position: absolute;
    background-image: url(Unranked.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
}

#competitive .bg-image
{
    z-index: -1;
    position: absolute;
    background-image: url(Competitive.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
}

#arcade .bg-image
{
    z-index: -1;
    position: absolute;
    background-image: url(Arcade.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
}

#game_browse .bg-image
{
    z-index: -1;
    position: absolute;
    background-image: url(Game\ Browse.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
}

#training .bg-image
{
    z-index: -1;
    position: absolute;
    background-image: url(Training.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
    padding-bottom: 55px;
    margin-bottom: 0;
}