body
{
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    background-image: url(https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt030bf3d606661d3c/633f5be164fe5a7d4481a16c/overwatch-section1-feature1.png?width=&format=webply&dpr=2&disable=upscale&quality=80);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;
    opacity: .5;
}

#damage .bg-image, #tank .bg-image, #support .bg-image
{
    background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt555c2f21772e37db/6306c184c9c3a611b66dd76d/1600_Silver_Background.jpg);
    z-index: 0;
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
}

#damage, #tank, #support
{
    height: 0;
}

.ch-img
{
    position: relative;
    width: 90px;
    height: 90px;
    margin: 86vh -10px -85vh 10px;
    background-color: rgba(100, 100, 100, .3);
    border-radius: 15px;
    z-index: 3;
    transition: 0.1s;
    border: 4px solid rgba(100, 100, 100, .3);
}

.ch-img:hover 
{
    transform: scale(130%);
    background-color: rgb(243, 158, 0);
    border-color: rgb(252, 192, 81);
    z-index: 4;
}

.description.last
{
    z-index: 1;
    left: 0%;
    text-align: center;
    visibility: visible;
    font-size: 2em;
    opacity: 1;
    color: #333;
    background-color: rgba(100, 100, 100, 0.15);
}

.description.last h1
{
    margin-top: 10vh;
    opacity: 1;
}

.description.last p{
    opacity: 1;
}

.description
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    left: 0;
    position: fixed;
    top: 0vh;
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 1s;
    height: 100vh;
    width: 100%;
    color: #FFF;
}

.description p, .description h3, .description h2, .description h1
{
    opacity: 0;
    transition: .2s;
}

.ch-img:hover + .description p, .ch-img:hover + .description h2, .ch-img:hover + .description h1, .ch-img:hover + .description h3
{
    transition-delay: 1s;
    opacity: 1;
    transition: .5s;
    transition-delay: 0.5s;
    /* visibility: visible; */
}

.ch-img:hover + .description
{
    position: fixed;
    visibility: visible;
    opacity: 1;
}

.description .minibutton
{
    width: 20px;
}

.content
{
    margin-right: 35%;
    position: absolute;
}

header .logo
{
    float: left;
    width: 300px;
    margin-left: 30px;
    margin-top: -11px;
}

header .logo-s
{
    float: left;
    width: 0;
}

header
{
    margin: 0 1vw;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    height: 50px;
    width: 98vw;
    top: 2vh;
    border-radius: 30px;
    z-index: 10;
}

li
{
    display: inline;
    float: right;
    margin: 0;
}

li a
{
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    margin: -15px 0;
    padding: 5px 10px;
    height: 30px;
    width: 130px;
    border-radius: 15px;
}
  
li a:hover
{
    background-color: rgba(100, 100, 100, 0.5);
    text-decoration: none;
}

td img
{
    width: 100px;
    margin-top: 30px;
}

ul
{
    margin-right: 20px;
}

.active
{
    background-color: rgba(255, 162, 0, 1);
}

.active:hover
{
    background-color: rgba(159, 80, 0, 0.8);
}

.description h1
{
    margin: 70px 10px 10px 10px;
    font-size: 2.5em;
    color: orangered;
}

.description h2
{
    margin: 10px 15px;
    color: orange;
    font-size: 2em;
}

.description h3
{
    margin: 0 20px;
    font-size: 1.5em;
}

.description p
{
    margin: 0 10px 20px 30px;
}

@media screen and (max-width: 1450px)
{
    header .logo
    {
        width: 0;
    }

    header .logo-s
    {
        float: left;
        width: 40px;
        margin-left: 20px;
        margin-top: -15px;
    }
}