a, p, table,

body
{
    font-size: 1vw;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

.character
{
    z-index: 2;
    transition: .2s;
    width: 17.5vw;
    height: 22vw;
    margin: 20px 7.5vw 14vw 7.5vw;
    background-color: rgba(0, 0, 0, .1);
    float: left;
    transform: translate(0%);
}

.character:hover
{
    transition: .5s;
    width: 32.5vw;
    height: 35vw;
    margin: 20px 0 1vw 0;
    background-color: rgba(0, 0, 0, .3);
}

.character:hover .ch-img
{
    width: 0%;
    margin: 0%;
    transition: .2s;
}

.character .ch-img
{
    transition: .5s;
    width: 90%;
    margin: 5%;
}

.character h2
{
    text-align: center;
    margin: 0.25vw;
}

.bg-image {
    background-image: url(https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt030bf3d606661d3c/633f5be164fe5a7d4481a16c/overwatch-section1-feature1.png?width=&format=webply&dpr=2&disable=upscale&quality=80);
    filter: blur(3px);
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;
    opacity: .5;
}

.ch-img
{
    position: relative;
    width: 5vw;
    height: 5vw;
    padding: 3px;
    margin-top: 10px;
    background-color: rgba(100, 100, 100, .3);
    border-radius: 15px;
    z-index: 0;
}

.ch-img:hover
{
    transform: scale(125%);
    background-color: rgb(243, 158, 0);
    z-index: 1;
    padding: 0 3px;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
}

.ch-img, .description
{
    transform: translate(0%);
}

.description.last
{
    z-index: 0;
    left: 0%;
    text-align: center;
    width: 100%;
    height: 70vh;
    background-color: rgba(50, 50, 50, .5);
    visibility: visible;
    font-size: 2em;
}

.description.last h1
{
    margin-top: 10vh;
}

.description
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    left: 0;
    position: fixed;
    top: 30vh;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.description p, .description h2, .description h1
{
    margin: 15px;
}

.ch-img:hover + .description
{
    position: absolute;
    visibility: visible;
    width: 100%;
    height: 70vh;
}

.description .minibutton
{
    width: 20px;
}

.description .ability
{
    float: left;
    width: 50px;
}

.description h2
{
    text-align: left;
    float: left;
}

.description p
{
    clear: both;
}

header .logo
{
    float: left;
    height: 3vh;
    margin-left: 2vw;
    margin-top: -.5vh;
}

header
{
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    transform: translate(0%);
    background-color: rgba(255, 255, 255, 0.7);
    height: 6vh;
    width: 95vw;
    top: 2vh;
    border-radius: 30px;
    z-index: 10;
}

li
{
    display: inline;
    float: right;
    margin: 0;
}

li a
{
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    margin-top: -1.6vh;
    padding: 1.2vh 0vw;
    height: 2.6vh;
    width: 6vw;
    border-radius: 20px;
}
  
li a:hover
{
    background-color: rgba(100, 100, 100, 0.5);
    text-decoration: none;
}

td img
{
    width: 100px;
    margin-top: 30px;
}

ul
{
    margin-right: 20px;
}

.active
{
    background-color: rgba(255, 162, 0, 1);
}

.active:hover
{
    background-color: rgba(159, 80, 0, 0.8);
}

header .logo
{
    float: left;
    height: 45px;
    margin-left: 50px;
    margin-top: 12px;
}

.description
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltcd0d5eb4b44d35f1/631a8b92e7bdcf0dd996c8e5/1600_Bastion.jpg);
}