html, body
{
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
}

.header span
{
    display: none;
}

.bg-image {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;
    opacity: .5;
    z-index: -5;
}

#PLAY .bg-image, #gamemodes .bg-image
{
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.video-bg
{
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    opacity: 1;
}

.video-bg video
{
    height: 1080px;
    width: 1920px;
}

#damage .bg-image, #tank .bg-image, #support .bg-image
{
    background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt555c2f21772e37db/6306c184c9c3a611b66dd76d/1600_Silver_Background.jpg);
    z-index: 0;
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
}

.ch-img
{
    position: relative;
    width: 90px;
    height: 90px;
    background-color: rgba(100, 100, 100, .3);
    border-radius: 15px;
    z-index: 3;
    transition: 0.1s;
    border: 4px solid rgba(100, 100, 100, .3);
}

#damage .ch-img
{
    margin: calc(1200px - 19vw) -4vw calc(-1200px - -18.5vw) 4vw;
}

#support .ch-img
{
    margin: calc(1200px - 19vw) -28vw calc(-1200px - -18.5vw) 28vw;
}

#tank .ch-img
{
    margin: calc(1200px - 19vw) -21vw calc(-1200px - -18.5vw) 21vw;
}

.ch-img:hover 
{
    transform: scale(130%);
    background-color: rgb(243, 158, 0);
    border-color: rgb(252, 192, 81);
    z-index: 4;
}

.description.last
{
    z-index: 1;
    left: 0%;
    text-align: center;
    visibility: visible;
    font-size: 1.5em;
    opacity: 1;
    color: #333;
    background-color: rgba(100, 100, 100, 0.15);
}

.description.last h1
{
    margin-top: 10vh;
    opacity: 1;
}

.description.last p{
    opacity: 1;
}

.description
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    left: 0;
    position: fixed;
    top: 0vh;
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 1s;
    height: 100vh;
    width: 100%;
    color: #FFF;
}

.description p, .description h3, .description h2, .description h1
{
    opacity: 0;
    transition: .2s;
}

.ch-img:hover + .description p, .ch-img:hover + .description h2, .ch-img:hover + .description h1, .ch-img:hover + .description h3
{
    transition-delay: 1s;
    opacity: 1;
    transition: .5s;
    transition-delay: 0.5s;
    /* visibility: visible; */
}

.ch-img:hover + .description
{
    position: fixed;
    visibility: visible;
    opacity: 1;
}

.description .minibutton
{
    width: 20px;
}

.content
{
    margin-right: 35%;
    position: absolute;
}

.header .logo
{
    float: left;
    height: 35px;
    margin-left: 30px;
    margin-top: 7.5px;
}

.header .logo-s
{
    float: left;
    width: 0;
    margin-left: 0px;
}

.header
{
    position: fixed;
    /* overflow: hidden; */
    background-color: rgba(255, 255, 255, 0.7);
    height: 50px;
    width: 98%;
    top: 2vh;
    left: 1%;
    border-radius: 30px;
    z-index: 10;
}

.header a
{
    float: left;
    margin-left: -10px;
}

.header .dropdown-content
{
    float: right;
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    margin: 2px 10px 2px -10px;
    height: 30px;
    width: 130px;
    border-radius: 15px;
}
  
.header .dropdown-content:hover
{
    background-color: rgba(100, 100, 100, 0.5);
    text-decoration: none;
}

td img
{
    width: 100px;
    margin-top: 30px;
}

.active
{
    background-color: rgba(255, 162, 0, 1);
}

.active:hover
{
    background-color: rgba(159, 80, 0, 0.8);
}

.description h1
{
    margin: 70px 10px 10px 10px;
    font-size: 2.5em;
    color: orangered;
}

.description h2
{
    margin: 10px 15px;
    color: orange;
    font-size: 2em;
}

.description h3
{
    margin: 10px 10px 0 20px;
    font-size: 1.5em;
}

.description p
{
    margin: 0 10px 20px 30px;
}

/* Gamemodes */
#gamemodes
{
    margin: 0;
    color: white;
}

#gamemodes table
{
    margin: 150px 200px;
    opacity: 1;    
    position: relative;
    border-collapse: collapse;
}

.text.floatl, iframe.floatl
{
    float: left;
    margin-left: 11.5vw;
    margin-right: -12vw;
}

.text.floatr, iframe.floatr
{
    float: right;
    margin-right: 11.5vw;
    margin-left: -12vw;
}

#gamemodes h2
{
    text-align: center;
}

.title
{
    width: 270px;
    margin: 100px auto;
    position: relative;
    z-index: 5;
    border: 15px solid rgb(255, 89, 0);
    border-radius: 20%;
    border-style: outset;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
    margin-bottom: -20px;
}

.push_bg > div{
    padding-top: 300px;
}

#gamemodes iframe
{
    padding: 0 10px;
    height: 27vw;
    width: 48vw;
}


.text
{
    width: 27vw;
    border: 15px solid rgb(255, 89, 0);
    border-radius: 20%;
    border-style: outset;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
    margin-top: 50px;
}

.gamemodecontent
{
    min-height: 1000px;
    position: relative;
    margin-bottom: 85px;
}

.gamemodecontent .bg-image
{
    height: 1085px;
}

.szexpéter
{
    padding-top: 200px;
}


/* PLAY */
#PLAY
{
    margin: 0;
}

#PLAY .bg-image
{
    height: calc(2000px - 48.9vw);
}

#PLAY .mode
{
    height: calc(2000px - 50vw);
    width: 100%;
    z-index: 0;
    position: relative;
    padding-top: 20px;
    /* margin-bottom: 55px; */
}

#PLAY h1
{
    margin: 100px 0 -10px 10px;
}

#PLAY h2
{
    margin: 20px 0 -10px 15px;
}

#PLAY .mode li
{
    margin-top: 10px;
}

#PLAY p
{
    margin-left: 20px;
}

#PLAY table
{
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 1000px;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.3);
}

.resp-table
{
    overflow-x: auto;
}

#PLAY td
{
    width: 200px;
    border-bottom: 1px solid black;
    text-align: center;
}

#PLAY th
{
    width: 200px;
    border: 1px solid black;
}

#PLAY td img
{
    margin-top: 10px;
    width: 100px;
}

#unranked .bg-image
{
    background-image: url(Unranked.PNG);
    opacity: 0.4;
}

#competitive .bg-image
{
    background-image: url(Competitive.PNG);
    opacity: 0.5;
}

#arcade .bg-image
{
    background-image: url(overwatch-2-premium.webp);
    opacity: 0.6;
}

#arcade
{
    /* text-align: center; */
    font-size: 20pt;
}

#arcade ul
{
    list-style: none;
}

#arcade li
{
    /* width: 50vw; */
    margin: 20px 0;
}

#arcade a
{
    text-decoration: none;
    color: #000;
}

#arcade li:hover
{
    transform: scale(130%);
    margin-left: 10.5vw;
    /* margin-right: -12.5vw; */
    width: 70vw;
}

/* #maps div
{
    height: 1080px;
    width: 100%;
    margin-left: -.39vw;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* background pictures */

/* Characters */

/* DAMAGE */

#ashe
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt83273c22d0b94966/631a8ba0636d390da7825df1/1600_Ashe.jpg);
}

#bastion
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltcd0d5eb4b44d35f1/631a8b92e7bdcf0dd996c8e5/1600_Bastion.jpg);
}

#cassidy
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt4bb4c31f6849c25b/631a8b781613910e6926bfd4/2600_Cassidy.jpg);
}

#echo
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt6a6dc9da49d17b95/631a8b5feef3ae0e03c743ae/2600_Echo.jpg);
    font-size: 0.9em;
}

#genji
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt22836a6cfd1c3335/631a8b576d5f7a0df8d92798/1600_Genji.jpg);
}

#hanzo
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt94cbaa8364b60dc7/631a8b50eef3ae0e03c743aa/1600_Hanzo.jpg);
    font-size: 0.95em;
}

#junkrat
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf1d3568684bc383f/631a8b430e1b4f0e7b89a530/1600_Junkrat.jpg);
}

#mei
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltd0eb5529be69efbc/633773a6f87c00687e8ef21a/1600_Mei_02.jpg);
}

#pharah
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blte7cef1a9a6df49eb/631a8af2a0ff920e11e791b8/1600_Pharah.jpg);
}

#reaper
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt2c301b09e7e28f15/631a8af9e7bdcf0dd996c8d1/1600_Reaper.jpg);
}

#sojourn
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt4e7eea062ae71ec8/631a8ad36d5f7a0df8d9278c/1600_Sojourn.jpg);
}

#soldier-76
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltaa73ebe257f75710/631a8ac985af980dae7a2eea/1600_Soldier_76.jpg);
}

#sombra
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt73c08ba684761b8a/631a8ac1f581050de0035de2/1600_Sombra.jpg);
    font-size: 0.9em;
}

#symmetra
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt8bcd4a477c648ec3/631a8ab9a0ff920e11e791b0/1600_Symmetra.jpg);
}

#torbjörn
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt8af1bdb781ba7048/631a8ab1eef3ae0e03c7439a/1600_Torbjorn.jpg);
}

#tracer
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltb9e273d8483050b8/631a8aab3ab6f40dd2a90699/1600_Tracer.jpg);
}

#widowmaker
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf1291f31fd38e28b/631a8a981613910e6926bfc8/1600_Widowmaker.jpg);
}



/* TANK */

#doomfist
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt3f24de1ac73c318b/631a8b6ba633280e74dc25c9/1600_Doomfist.jpg);
}

#d_va
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf8e9415141b0ec36/631a8b65e7bdcf0dd996c8e1/1600_Dva.jpg);
    font-size: 0.85em;
}

#d_va h3
{
    margin: 5px 10px 0 20px;
}

#d_va p
{
    margin: 0 10px 5px 30px;
}

#wrecking_ball
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt55cca804cba3d52e/631a8a691566e20e82f30278/1600_Wrecking_Ball.jpg);
    font-size: 0.9em;
}

#sigma
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt429c1784d8b446a4/631a8adbf581050de0035de6/1600_Sigma.jpg);
}

#winston
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf9557fb8c51d1c43/631a8aa4eef3ae0e03c74396/1600_Winston.jpg);
}

#zarya
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltde66354cc09d1bb6/631a8a60be2fcf0db5eea4b4/1600_Zarya.jpg);
}

#junker_queen
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt3a1be33596e910c4/631a8b49a0ff920e11e791bc/2600_Junker_Queen.jpg);
    font-size: 0.9em;
}

#roadhog
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt39930f17f179a7bd/631a8ae5eef3ae0e03c7439e/1600_Roadhog.jpg);
}

#reinhardt
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt8215ad99f856a606/631a8b03636d390da7825ddb/1600_Reinhardt.jpg);
}

#orisa
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt24fd76394a4111f7/631a8b0ba633280e74dc25c5/1600_Orisa.jpg);
    font-size: 0.9em;
}

#ramattra
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt7cedd97f624c058d/637da2d146a48b0e063e4aad/1600_Ramattra.jpg);
}



/* SUPPORT */

#ana
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt97ec60cf959e81f3/631a8babe337fa0dc7263beb/1600_Ana.jpg);
}

#baptiste
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt7409943072f0d44c/631a8b99f581050de0035dfa/1600_Baptiste.jpg);
}

#brigitte
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltf362dee5d41929be/631a8b7feef3ae0e03c743b6/1600_Brigitte.jpg);
    font-size: 0.9em;
}

#brigitte h3
{
    margin: 10px 10px 0 20px;
}

#brigitte p
{
    margin: 0 10px 5px 30px;
}

#kiriko
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt74033e83230dc856/631a8b34f581050de0035df2/1600_Kiriko.jpg);
}

#lucio
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt77c5cddf632a67d7/631a8b2bf581050de0035dee/1600_Lucio.jpg);
    font-size: 0.95em;
}

#mercy
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blta556d4020266a6db/631a8b1eeef3ae0e03c743a2/1600_Mercy.jpg);
    font-size: 0.9em;
}

#moira
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt8188c6691a334d73/631a8b17be2fcf0db5eea4bc/1600_Moira.jpg);
}

#zenyatta
{
    background-image: url(https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt31b9997e4476de74/631a8a57eef3ae0e03c7438a/1600_Zenyatta.jpg);
}

/* Maps */

#busan
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/8/80/OW2_Busan_Downtown_1.jpg?width=814);
}

#ilois
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/3/38/OW2_Ilios_Lighthouse_3.jpg?width=814);
}

#lijangtower
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/8/88/OW2_Lijiang_Tower_Garden.jpg?width=814);
}

#nepal
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/07/OW2_Nepal_Shrine_2.jpg?width=814);
}

#oasis
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/6/60/OW2_Oasis_City_Center_1.jpg?width=814);
}

#circuitroyal
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/2d/OW2_Circuit_Royal_3.jpg?width=814);
}

#dorado
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/1/12/OW2_Dorado_3.jpg?width=814);
}

#havana
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/04/OW2_Havana_1.jpg?width=814);
}

#junkertown
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/9/9a/OW2_Junkertown_1.jpg?width=814);
}

#rialto
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/27/OW2_Rialto_4.jpg?width=814);
}

#route66
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/f/f3/OW2_Route_66_2.jpg?width=814);
}

#watchpointgibraltar
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/c/c1/OW2_Watchpoint_Gibraltar_3.jpg?width=814);
}

#blizzardworld
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/a/a9/OW2_Blizzard_World_3.jpg?width=814);
}

#eichenwalde
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/4/4c/OW2_Eichenwalde_1.jpg?width=814);
}

#hollywood
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/f/fa/OW2_Hollywood_4.jpg?width=814);
}

#kingsrow
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/c/ca/OW2_Kings_Row_1.jpg?width=814);
}

#midtown
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/5/5f/OW2_Midtown_2.jpg?width=814);
}

#numbani
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/02/OW2_Numbani_3.jpg?width=814);
}

#paraiso
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/7/7f/OW2_Paraiso_4.jpg?width=814);
}

#colosseo
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/24/OW2_Colosseo.jpg?width=814);
}

#esperanca
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/7/7d/OW2_Esperanca_2.jpg?width=814);
}

#nqs
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/0c/OW2_New_Queen_Street_2.jpg?width=814);
}

#ayutthaya
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/3/36/OW2_Ayutthaya.jpg?width=814);
}

#castillo
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/27/OW2_Castillo_2.jpg?width=814);
}

#cg
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/d/d5/OW2_Chateau_Guillard_2.jpg?width=814);
}

#ecoa
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/20/OW2_Ecopoint_Antartica.jpg?width=814);
}

#kanezaka
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/2f/OW2_Kanezaka_2.jpg?width=814);
}

#malevento
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/1/1a/OW2_Malevento_2.jpg?width=814);
}

#necropolis
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/9/9b/OW2_Necropolis_3.jpg?width=814);
}

#petra
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/8/89/OW2_Petra_1.jpg?width=814);
}

#workshop
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/c/c5/OW2_Workshop_Island.jpg?width=814);
}

#hanamura
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/d/df/OW2_Hanamura_3.jpg?width=814);
}

#hlc
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/5/5c/OW2_Lunar_Colony_3.jpg?width=814);
}

#paris
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/d/db/OW2_Paris_1.jpg?width=814);
}

#toa
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/2/24/OW2_Anubis.jpg?width=814);
}

#volskaya
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/e/e6/OW2_Volskaya_3.jpg?width=814);
}

/* Gamemodes */

#gamemodes .bg-image
{
    background-image: url(https://cdn1.dotesports.com/wp-content/uploads/2021/06/04023112/OW2_Blizzcon_2019_Screenshot_Push_Gameplay_01.jpg);
    opacity: .8;
    margin-top: -105px;
}

#control .bg-image
{
    background-image: url(https://primagames.com/wp-content/uploads/2022/10/Best-Controller-Settings-for-Overwatch-2-Settings-Guide.jpg?fit=1200%2C675);
}

#escort .bg-image
{
    background-image: url(https://www.pockettactics.com/wp-content/sites/pockettactics/2022/10/overwatch-2-maps.jpg);
}

#hybrid .bg-image
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/0e/OW2_Hybrid.jpg?width=1280);
}

#ctf .bg-image
{
    background-image: url(https://cdn.mos.cms.futurecdn.net/6Y3b326hAC2BTcE8gLBMxa.jpg);
}

#elimination .bg-image
{
    background-image: url(https://d.newsweek.com/en/full/2128066/overwatch-2-doomfist-pharah-batiste-winston.png);
}

#deathmatch .bg-image
{
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/blog_header/48/48PLUGPFVKID1504108278330.jpg);
}

#team_deathmatch .bg-image
{
    background-image: url(https://www.theloadout.com/wp-content/sites/theloadout/2022/10/overwatch-2-game-modes-team-deathmatch.jpg);
}

#bounty_hunter .bg-image
{
    background-image: url(https://i0.wp.com/thegamehaus.com/wp-content/uploads/2021/02/Bounty-Hunter.jpg?fit=1820%2C1024&ssl=1);
}

#ctf_blitz .bg-image
{
    background-image: url(https://www.gamerevolution.com/wp-content/uploads/sites/2/2020/01/Overwatch-2-CTF-Blitz-Mode-Title-Screen.png);
}

#low_gravity .bg-image
{
    background-image: url(https://www.theloadout.com/wp-content/sites/theloadout/2022/10/overwatch-2-game-modes-ctf-blitz.jpg);
}

#limited_duel .bg-image
{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/03/OW2_Push.jpg?width=640);
}

#no_limits .bg-image
{
    background-image: url(https://www.gamespot.com/a/uploads/screen_large/1574/15746725/4041442-untitled.png);
    padding-bottom: 100px;
}

/* Responsiveness */

@media screen and (max-width: 1450px)
{
    body
    {
        font-size: 13pt;
    }

    .header .logo
    {
        width: 0;
    }

    .header .logo-s
    {
        float: left;
        width: 40px;
        margin-left: 20px;
        margin-top: 5px;
    }

    .header span
    {
        display: block;
        /* width: ; */
    }

    .header .dropdown
    {
        float: right;
        color: #000;
        width: 130px;
        margin: 2px 30px;
        padding: 8px 10px;
        height: 30px;
        /* padding-top: 15px; */
        border-radius: 15px;
        text-align: center;
        position: relative;
    }

    .header .dropdown:hover
    {
        background-color: rgba(100, 100, 100, 0.4);
    }
      
    .header .dropdown-content
    {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        min-width: 130px;
        box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.5);
        z-index: 10;
        border-radius: 0;
        margin: 0;
        margin: 7px -10px -7px 0;
    }

    .header .dropdown-content:hover
    {
        background-color: rgba(150, 150, 150, .9);
    }
    
    .header .dropdown:hover .dropdown-content
    {
        display: block;
    }

    .dropdown-content.active
    {
        background-color: rgba(255, 162, 0, 1);
    }

    .dropdown-content.active:hover
    {
        background-color: rgba(159, 80, 0, 0.8);
    }

    #support .ch-img
    {
        margin: calc(1200px - 19vw) -4vw calc(-1200px - -18vw) 4vw;
    }

    #tank .ch-img
    {
        margin: calc(1200px - 19vw) -4vw calc(-1200px - -18vw) 4vw;
    }
}

@media screen and (max-width: 900px)
{
    body
    {
        font-size: 11pt;
    }

    .content
    {
        margin-right: 0;
    }

    .header .dropdown
    {
        font-size: 15pt;
    }

    .description
    {
        font-size: 0.8em;
    }

    .description h1
    {
        margin: 70px 10px 0px 10px;
    }

    .description h2
    {
        margin: 0 15px;
    }

    .description h3
    {
        margin: 0 10px 0 20px;
    }

    .description p
    {
        margin: 0 10px 0 30px;
    }

    #d_va.description
    {
        font-size: 0.8em;
    }

    #junker_queen.description
    {
        font-size: 0.8em;
    }

    #orisa.description
    {
        font-size: 0.85em;
    }

    #wrecking_ball.description
    {
        font-size: 0.8em;
    }

    #hanzo.description
    {
        font-size: 0.9em;
    }

    #sombra.description
    {
        font-size: 0.8em;
    }

    #brigitte.description
    {
        font-size: 0.8em;
    }

    #lucio.description
    {
        font-size: 0.9em;
    }

    .gamemodecontent
    {
        /* height: 900px; */
        margin-bottom: 0;
        padding-bottom: 0px;
    }

    #gamemodes .bg-image
    {
        height: 1000px;
    }

    #gamemodes iframe
    {
        width: 96vw;
        height: 54vw;
        margin: 2vw -0.5vw;
    }

    #gamemodes .text
    {
        width: 96vw;
        margin: -150px 0.2vw 0 0.2vw;
        border-width: 7px;
    }

    #PLAY .mode
    {
        height: calc(1700px - 50vw);
    }

    #PLAY .bg-image
    {
        height: calc(1700px - 44.5vw);
    }
}