body
{
    font-size: 15pt;
    width: 95vw;
    margin: 10vh 2.5vw;
}

.bg-image {
    background-image: url(https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt030bf3d606661d3c/633f5be164fe5a7d4481a16c/overwatch-section1-feature1.png?width=&format=webply&dpr=2&disable=upscale&quality=80);
    filter: blur(3px);
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;
    opacity: .5;
}

.ch-img
{
    position: relative;
    width: 5vw;
    height: 5vw;
    padding: 3px;
    margin-top: 10px;
    background-color: rgba(100, 100, 100, .3);
    border-radius: 15px;
    z-index: 0;
    transition: 0.1s;
}

.ch-img:hover 
{
    transform: scale(125%);
    background-color: rgb(243, 158, 0);
    z-index: 1;
    padding: 0 3px;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
}

.ch-img, .description
{
    transform: translate(0%);
}

.description.last
{
    z-index: 0;
    left: 0%;
    text-align: center;
    width: 100%;
    height: 70vh;
    background-color: rgba(50, 50, 50, .5);
    visibility: visible;
    font-size: 2em;
    opacity: 1;
}

.description.last h1
{
    margin-top: 10vh;
    opacity: 1;
}

.description.last p{
    opacity: 1;
}

.description
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    left: 0;
    position: fixed;
    top: 30vh;
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 1s;
    /* text-shadow: 1px 1px 0px white; */
}

.description p, .description h2, .description h1
{
    margin: 15px;
    opacity: 0;
    transition: .5s;
    /* visibility: hidden; */
}

.ch-img:hover + .description p, .ch-img:hover + .description h2, .ch-img:hover + .description h1
{
    transition-delay: 1s;
    opacity: 1;
    transition: .5s;
    transition-delay: 0.5s;
    /* visibility: visible; */
}

.ch-img:hover + .description
{
    position: absolute;
    visibility: visible;
    width: 100%;
    height: 70vh;
    opacity: 1;
}

.description .minibutton
{
    width: 20px;
}

.description .ability
{
    float: left;
    width: 50px;
}

.description h2
{
    text-align: left;
    float: left;
}

.description p
{
    clear: both;
}

header .logo
{
    float: left;
    height: 3vh;
    margin-left: 2vw;
    margin-top: -.5vh;
}

header
{
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    transform: translate(0%);
    background-color: rgba(255, 255, 255, 0.7);
    height: 6vh;
    width: 95vw;
    top: 2vh;
    border-radius: 30px;
    z-index: 10;
}

li
{
    display: inline;
    float: right;
    margin: 0;
}

li a
{
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    margin-top: -1.6vh;
    padding: 1.2vh 0vw;
    height: 2.6vh;
    width: 6vw;
    border-radius: 20px;
}
  
li a:hover
{
    background-color: rgba(100, 100, 100, 0.5);
    text-decoration: none;
}

td img
{
    width: 100px;
    margin-top: 30px;
}

ul
{
    margin-right: 20px;
}

.active
{
    background-color: rgba(255, 162, 0, 1);
}

.active:hover
{
    background-color: rgba(159, 80, 0, 0.8);
}

