html, body
{
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    background-image: url(https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt030bf3d606661d3c/633f5be164fe5a7d4481a16c/overwatch-section1-feature1.png?width=&format=webply&dpr=2&disable=upscale&quality=80);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;
    opacity: .5;
    z-index: -5;
}

#PLAY, #gamemodes
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.video-bg
{
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    opacity: 1;
}

.video-bg video
{
    height: 1080px;
    width: 1920px;
}

#tank section
{
    margin: 0 370px;
}

#damage .bg-image, #tank .bg-image, #support .bg-image
{
    background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt555c2f21772e37db/6306c184c9c3a611b66dd76d/1600_Silver_Background.jpg);
    z-index: 0;
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
}

.ch-img
{
    position: relative;
    width: 90px;
    height: 90px;
    background-color: rgba(100, 100, 100, .3);
    border-radius: 15px;
    z-index: 3;
    transition: 0.1s;
    border: 4px solid rgba(100, 100, 100, .3);
}

#damage .ch-img
{
    margin: 86vh -70px -85vh 70px;
}

#support .ch-img
{
    margin: 86vh -520px -85vh 520px;
}

#tank .ch-img
{
    margin: 86vh -520px -85vh 520px;
}

.ch-img:hover 
{
    transform: scale(130%);
    background-color: rgb(243, 158, 0);
    border-color: rgb(252, 192, 81);
    z-index: 4;
}

.description.last
{
    z-index: 1;
    left: 0%;
    text-align: center;
    visibility: visible;
    font-size: 2em;
    opacity: 1;
    color: #333;
    background-color: rgba(100, 100, 100, 0.15);
}

.description.last h1
{
    margin-top: 10vh;
    opacity: 1;
}

.description.last p{
    opacity: 1;
}

.description
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    left: 0;
    position: fixed;
    top: 0vh;
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 1s;
    height: 100vh;
    width: 100%;
    color: #FFF;
}

.description p, .description h3, .description h2, .description h1
{
    opacity: 0;
    transition: .2s;
}

.ch-img:hover + .description p, .ch-img:hover + .description h2, .ch-img:hover + .description h1, .ch-img:hover + .description h3
{
    transition-delay: 1s;
    opacity: 1;
    transition: .5s;
    transition-delay: 0.5s;
    /* visibility: visible; */
}

.ch-img:hover + .description
{
    position: fixed;
    visibility: visible;
    opacity: 1;
}

.description .minibutton
{
    width: 20px;
}

.content
{
    margin-right: 35%;
    position: absolute;
}

header .logo
{
    float: left;
    width: 300px;
    margin-left: 30px;
    margin-top: -11px;
}

header .logo-s
{
    float: left;
    width: 0;
}

header
{
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    height: 50px;
    width: 98%;
    top: 2vh;
    left: 1%;
    border-radius: 30px;
    z-index: 10;
}

header li
{
    display: inline;
    float: right;
    margin: 0;
}

header li a
{
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    margin: -15px 0;
    padding: 5px 10px;
    height: 30px;
    width: 130px;
    border-radius: 15px;
}
  
header li a:hover
{
    background-color: rgba(100, 100, 100, 0.5);
    text-decoration: none;
}

td img
{
    width: 100px;
    margin-top: 30px;
}

header ul
{
    margin-right: 20px;
}

.active
{
    background-color: rgba(255, 162, 0, 1);
}

.active:hover
{
    background-color: rgba(159, 80, 0, 0.8);
}

.description h1
{
    margin: 70px 10px 10px 10px;
    font-size: 2.5em;
    color: orangered;
}

.description h2
{
    margin: 10px 15px;
    color: orange;
    font-size: 2em;
}

.description h3
{
    margin: 10px 10px 0 20px;
    font-size: 1.5em;
}

.description p
{
    margin: 0 10px 20px 30px;
}

/* Gamemodes */
#gamemodes
{
    margin: 0;
    color: white;
}

#gamemodes table
{
    margin: 150px 200px 150px 200px;
    opacity: 1;    
    position: relative;
    border-collapse: collapse;
}


#gamemodes h2
{
    text-align: center;
}

.title
{
    width: 270px;
    margin: 0px auto;
    position: relative;
    z-index: 5;
    border: 15px solid rgb(255, 89, 0);
    border-radius: 20%;
    border-style: outset;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
}

.push_bg>div{
    padding-top: 300px;
}

#gamemodes iframe
{
    padding: 0 10px;
    height: 25vw;
    width: 50vw;
}

.text
{
    border: 15px solid rgb(255, 89, 0);
    border-radius: 20%;
    border-style: outset;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
}

.push_bg, .control_bg, .escort_bg, .hybrid_bg, .ctf_bg, .elimination_bg, .deathmatch_bg, .team_deathmatch_bg
{
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 200px 0;
    margin-top: -200px;
}

.push_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://cdn1.dotesports.com/wp-content/uploads/2021/06/04023112/OW2_Blizzcon_2019_Screenshot_Push_Gameplay_01.jpg);
}
.control_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://primagames.com/wp-content/uploads/2022/10/Best-Controller-Settings-for-Overwatch-2-Settings-Guide.jpg?fit=1200%2C675);
}

.escort_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/0e/OW2_Hybrid.jpg?width=1280);
}

.hybrid_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/overwatch-2/0/0e/OW2_Hybrid.jpg?width=1280);
}

.ctf_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://cdn.mos.cms.futurecdn.net/6Y3b326hAC2BTcE8gLBMxa.jpg);
}

.elimination_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://d.newsweek.com/en/full/2128066/overwatch-2-doomfist-pharah-batiste-winston.png);
}

.deathmatch_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://d.newsweek.com/en/full/2128066/overwatch-2-doomfist-pharah-batiste-winston.png);
}

.team_deathmatch_bg
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://www.theloadout.com/wp-content/sites/theloadout/2022/10/overwatch-2-game-modes-team-deathmatch.jpg);
}

@media screen and (max-width: 1450px)
{
    header .logo
    {
        width: 0;
    }

    header .logo-s
    {
        float: left;
        width: 40px;
        margin-left: 20px;
        margin-top: -15px;
    }
}